<%- include('partials/_header'); -%>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <img src="storage/loader.png" alt="preloader icon">
    </div>
    <!-- ===============>> Preloader end here <<================= -->


    <!-- ===============>> light&dark switch start here <<================= -->
    <div class="lightdark-switch d-none">
        <span class="dark-btn" id="btnSwitch"><img src="frontend_assets/images/icon/moon.svg"
                alt="light-dark-switchbtn" class="swtich-icon"></span>
    </div>
    <!-- ===============>> light&dark switch start here <<================= -->


    <!-- ===============>> Header section start here <<================= -->
    <header class="header-section header-section--style2">
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="/">
                            <img class="dark" style="width: 204.8px; height: 50px;"
                                src="storage/logo-dark.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu-area">
                        <ul class="menu menu--style1">
                                                                                                <li>
                                        <a href="/">Home</a>
                                    </li>
                                                                                                                                <li>
                                        <a href="#about">About Us</a>
                                    </li>
                                                                                                                                <li>
                                        <a href="#benefits">Benefits</a>
                                    </li>
                                                                                                                                <li>
                                        <a href="#services">Services</a>
                                    </li>
                                                                                                                                <li>
                                        <a href="#reviews">Reviews</a>
                                    </li>
                                                                                                                                <li>
                                        <a href="#faqs">FAQs</a>
                                    </li>
                                                                                                                                <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Policies </a>
                                        <ul class="submenu">
                                                                                            <li><a href="/policy">Privacy Policy</a></li>
                                                                                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                                                                                    </ul>
                                    </li>
                                                                                    </ul>

                    </div>
                    <div class="header-action">
                        <div class="menu-area">
                            <div class="header-btn">
                                                                    <a href="/register"
                                        class="trk-btn trk-btn--border trk-btn--primary">
                                        <span>Join Now</span>
                                    </a>
                                                            </div>

                            <!-- toggle icons -->
                            <div class="header-bar d-lg-none header-bar--style1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ===============>> Header section end here <<================= -->


        <!-- ===============>> Banner section start here <<================= -->
    <section class="banner banner--style1">
        <div class="banner__bg">
            <div class="banner__bg-element">
                <img src="frontend_assets/images/banner/home1/bg.png" alt="section-bg-element"
                    class="dark d-none d-lg-block">
                <span class="bg-color d-lg-none"></span>
            </div>
        </div>
        <div class="container">
            <div class="banner__wrapper">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-6 col-md-7">
                        <div class="banner__content" data-aos="fade-right" data-aos-duration="1000">
                            <div class="banner__content-coin">
                                <img src="frontend_assets/images/banner/home1/3.png" alt="coin icon">
                            </div>
                            <h1 class="banner__content-heading">
                                <span>BitTrading</span> Helps You to Invest your money
                                with <span>higher returns</span>
                            </h1>
                            <p class="banner__content-moto">Anyone can invest money to different currency to increase
                                their earnings
                                by the help of BitTrading online.
                            </p>
                            <div class="banner__btn-group btn-group">
                                <a href="/register"
                                    class="trk-btn trk-btn--primary trk-btn--arrow">Get Started
                                    <span><i class="fa-solid fa-arrow-right"></i></span> </a>

                                <a href="#" class="trk-btn trk-btn--outline2">
                                    <span class="style1"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none">
                                            <g clip-path="url(#clip0_1397_814)">
                                                <path
                                                    d="M10.5547 7.03647C9.89015 6.59343 9 7.06982 9 7.86852V16.1315C9 16.9302 9.89015 17.4066 10.5547 16.9635L16.7519 12.8321C17.3457 12.4362 17.3457 11.5638 16.7519 11.1679L10.5547 7.03647Z"
                                                    stroke="#0A4FD5" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                            <rect x="-0.75" y="0.75" width="22.5" height="22.5" rx="11.25"
                                                transform="matrix(-1 0 0 1 22.5 0)" stroke="#0A4FD5" stroke-width="1.5" />
                                            <defs>
                                                <clipPath id="clip0_1397_814">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg></span> Read Plan
                                </a>
                            </div>
                            <div class="banner__content-social">
                                <p>Follow Us</p>
                                <ul class="social">
                                    <li class="social__item">
                                        <a href="javascript:void('social')"
                                            class="social__link social__link--style1 active"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="javascript:void('social')" class="social__link social__link--style1"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="javascript:void('social')" class="social__link social__link--style1"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="javascript:void('social')" class="social__link social__link--style1"><i
                                                class="fab fa-youtube"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="javascript:void('social')" class="social__link social__link--style1"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="banner__thumb" data-aos="fade-left" data-aos-duration="1000">
                            <img src="frontend_assets/images/banner/home1/1.png" alt="banner-thumb"
                                class="dark">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__shape">
            <span class="banner__shape-item banner__shape-item--1"><img
                    src="frontend_assets/images/banner/home1/4.png" alt="shape icon"></span>
        </div>

    </section>
    <!-- ===============>> Banner section end here <<================= -->







    <!-- ===============>> partner section start here <<================= -->
    <div class="partner partner--gradient">
        <div class="container">
            <div class="partner__wrapper">
                <div class="partner__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="partner__item">
                                <div class="partner__item-inner">
                                    <img src="frontend_assets/images/partner/light/1.png" alt="partner logo"
                                        class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partner__item">
                                <div class="partner__item-inner">
                                    <img src="frontend_assets/images/partner/light/2.png" alt="partner logo"
                                        class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partner__item">
                                <div class="partner__item-inner">
                                    <img src="frontend_assets/images/partner/light/3.png"
                                        alt="partner logo" class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partner__item">
                                <div class="partner__item-inner">
                                    <img src="frontend_assets/images/partner/light/4.png"
                                        alt="partner logo" class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partner__item">
                                <div class="partner__item-inner">
                                    <img src="frontend_assets/images/partner/light/5.png"
                                        alt="partner logo" class="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============>> partner section end here <<================= -->





    <!-- ===============>> About section start here <<================= -->
    <section class="about about--style1" id="about">
        <div class="container">
            <div class="about__wrapper">
                <div class="row gx-5  gy-4 gy-sm-0  align-items-center">
                    <div class="col-lg-6">
                        <div class="about__thumb pe-lg-5" data-aos="fade-right" data-aos-duration="800">
                            <div class="about__thumb-inner">
                                <div class="about__thumb-image floating-content">
                                    <img class="dark" src="frontend_assets/images/about/1.png"
                                        alt="about-image">
                                    <div class="floating-content__top-left">
                                        <div class="floating-content__item">
                                            <h3> <span class="purecounter" data-purecounter-start="0"
                                                    data-purecounter-end="10">30</span>
                                                Years
                                            </h3>
                                            <p>Trading Experience</p>
                                        </div>
                                    </div>
                                    <div class="floating-content__bottom-right">
                                        <div class="floating-content__item">
                                            <h3> <span class="purecounter" data-purecounter-start="0"
                                                    data-purecounter-end="25">25K</span>K+
                                            </h3>
                                            <p>Satisfied Customers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content" data-aos="fade-left" data-aos-duration="800">
                            <div class="about__content-inner">
                                <h2>Meet <span>BitTrading</span> or miss the opportunity </h2>

                                <p class="mb-0">BitTrading is a cutting-edge investment platform
                                    that combines advanced
                                    technology and financial expertise to provide investors with a seamless and secure
                                    environment for maximizing their returns. With a commitment to transparency and
                                    innovation, BitTrading offers a diverse range of investment
                                    opportunities, catering to
                                    both novice and experienced investors.</p>
                                <a href="/register"
                                    class="trk-btn trk-btn--border trk-btn--primary">
                                    Get Started
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> About section start here <<================= -->




    <!-- ===============>> feature section start here <<================= -->
    <section id="benefits" class="feature feature--style1 padding-bottom padding-top bg-color">
        <div class="container">
            <div class="feature__wrapper">
                <div class="row g-5 align-items-center justify-content-between">
                    <div class="col-md-6 col-lg-5">
                        <div class="feature__content" data-aos="fade-right" data-aos-duration="800">
                            <div class="feature__content-inner">
                                <div class="section-header">
                                    <h2 class="mb-15 mt-minus-5"> <span>benefits </span>We offer</h2>
                                    <p class="mb-0">
                                        Unlock the full potential of our product with our amazing features and
                                        top-notch.
                                    </p>
                                </div>

                                <div class="feature__nav">
                                    <div class="nav nav--feature flex-column nav-pills" id="feat-pills-tab"
                                        role="tablist" aria-orientation="vertical">
                                        <div class="nav-link active" id="feat-pills-one-tab" data-bs-toggle="pill"
                                            data-bs-target="#feat-pills-one" role="tab"
                                            aria-controls="feat-pills-one" aria-selected="true">
                                            <div class="feature__item">
                                                <div class="feature__item-inner">
                                                    <div class="feature__item-content">
                                                        <h6>High Investment Returns</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-link" id="feat-pills-two-tab" data-bs-toggle="pill"
                                            data-bs-target="#feat-pills-two" role="tab"
                                            aria-controls="feat-pills-two" aria-selected="false">
                                            <div class="feature__item">
                                                <div class="feature__item-inner">
                                                    <div class="feature__item-content">
                                                        <h6>Diverse Asset Options</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-link" id="feat-pills-three-tab" data-bs-toggle="pill"
                                            data-bs-target="#feat-pills-three" role="tab"
                                            aria-controls="feat-pills-three" aria-selected="false">
                                            <div class="feature__item">
                                                <div class="feature__item-inner">
                                                    <div class="feature__item-content">
                                                        <h6>Advanced Security Measures
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-link" id="feat-pills-four-tab" data-bs-toggle="pill"
                                            data-bs-target="#feat-pills-four" role="tab"
                                            aria-controls="feat-pills-four" aria-selected="false">
                                            <div class="feature__item">
                                                <div class="feature__item-inner">
                                                    <div class="feature__item-content">
                                                        <h6>User-Friendly Interface
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="feature__thumb pt-5 pt-md-0" data-aos="fade-left" data-aos-duration="800">
                            <div class="feature__thumb-inner">
                                <div class="tab-content" id="feat-pills-tabContent">
                                    <div class="tab-pane fade show active" id="feat-pills-one" role="tabpanel"
                                        aria-labelledby="feat-pills-one-tab" tabindex="0">
                                        <div class="feature__image floating-content">
                                            <img src="frontend_assets/images/feature/1.png"
                                                alt="Feature image">
                                            <div class="floating-content__bottom-left floating-content__bottom-left--style2"
                                                data-aos="fade-left" data-aos-duration="1000">
                                                <div
                                                    class="floating-content__item floating-content__item--style3  d-flex align-items-center">
                                                    <h3 class="style2"> <span class="purecounter"
                                                            data-purecounter-start="0"
                                                            data-purecounter-end="10">10</span>K
                                                    </h3>
                                                    <p class="ms-3 style2">CUSTOMERS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="feat-pills-two" role="tabpanel"
                                        aria-labelledby="feat-pills-one-tab" tabindex="0">
                                        <div class="feature__image floating-content">
                                            <img src="frontend_assets/images/feature/2.png"
                                                alt="Feature image">
                                            <div class="floating-content__bottom-left floating-content__bottom-left--style2"
                                                data-aos="fade-left" data-aos-duration="1000">
                                                <div
                                                    class="floating-content__item floating-content__item--style3  d-flex align-items-center">
                                                    <h3 class="style2"> <span class="purecounter"
                                                            data-purecounter-start="0"
                                                            data-purecounter-end="10">10</span>K
                                                    </h3>
                                                    <p class="ms-3 style2">CUSTOMERS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="feat-pills-three" role="tabpanel"
                                        aria-labelledby="feat-pills-one-tab" tabindex="0">
                                        <div class="feature__image floating-content">
                                            <img src="frontend_assets/images/feature/1.png"
                                                alt="Feature image">
                                            <div class="floating-content__bottom-left floating-content__bottom-left--style2"
                                                data-aos="fade-left" data-aos-duration="1000">
                                                <div
                                                    class="floating-content__item floating-content__item--style3  d-flex align-items-center">
                                                    <h3 class="style2"> <span class="purecounter"
                                                            data-purecounter-start="0"
                                                            data-purecounter-end="10">10</span>K
                                                    </h3>
                                                    <p class="ms-3 style2">CUSTOMERS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="feat-pills-four" role="tabpanel"
                                        aria-labelledby="feat-pills-one-tab" tabindex="0">
                                        <div class="feature__image floating-content">
                                            <img src="frontend_assets/images/feature/2.png"
                                                alt="Feature image">
                                            <div class="floating-content__bottom-left floating-content__bottom-left--style2"
                                                data-aos="fade-left" data-aos-duration="1000">
                                                <div
                                                    class="floating-content__item floating-content__item--style3  d-flex align-items-center">
                                                    <h3 class="style2"> <span class="purecounter"
                                                            data-purecounter-start="0"
                                                            data-purecounter-end="10">10</span>K
                                                    </h3>
                                                    <p class="ms-3 style2">CUSTOMERS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature__shape">
            <span class="feature__shape-item feature__shape-item--1"><img
                    src="frontend_assets/images/feature/shape/1.png" alt="shape-icon"></span>
            <span class="feature__shape-item feature__shape-item--2"> <span></span> </span>
        </div>
    </section>
    <!-- ===============>> feature section end here <<================= -->




    <!-- ===============>> Service section start here <<================= -->
    <section class="service padding-top padding-bottom" id="services">
        <div class="section-header section-header--max50">
            <h2 class="mb-15 mt-minus-5"><span>services </span>We offer</h2>
            <p>We offer the best services around - from installations to repairs, maintenance, and more!</p>
        </div>
        <div class="container">
            <div class="service__wrapper">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/1.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link"
                                            href="javascript:void(0)">Cryptocurrency Trading</a> </h5>
                                    <p class="mb-0">Engage in secure and efficient trading of various cryptocurrencies,
                                        taking advantage of market fluctuations for potential profits.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="1000">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/2.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link" href="javascript:void(0)">
                                            Portfolio Diversification</a> </h5>
                                    <p class="mb-0">Explore a wide range of investment options, from traditional assets
                                        to emerging digital currencies, to diversify your portfolio and mitigate risks.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="1200">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/3.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link" href="javascript:void(0)">Expert
                                            Financial Analysis</a> </h5>
                                    <p class="mb-0">Benefit from our team's in-depth market analysis and insights,
                                        helping you make informed investment decisions based on the latest trends.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/4.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link" href="javascript:void(0)">Secure Wallet
                                            Solutions</a>
                                    </h5>
                                    <p class="mb-0">Safeguard your digital assets with our advanced wallet solutions,
                                        incorporating cutting-edge security measures to protect your investments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="1000">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/5.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link" href="javascript:void(0)">24/7 Customer
                                            Support</a> </h5>
                                    <p class="mb-0">Enjoy round-the-clock assistance from our dedicated support team,
                                        ready to address your inquiries and provide timely solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service__item" data-aos="fade-up" data-aos-duration="1200">
                            <div class="service__item-inner text-center">
                                <div class="service__thumb mb-30">
                                    <div class="service__thumb-inner">
                                        <img class="dark" src="frontend_assets/images/service/6.png"
                                            alt="service-icon">
                                    </div>
                                </div>
                                <div class="service__content">
                                    <h5 class="mb-15"> <a class="stretched-link" href="javascript:void(0)">Educational
                                            Resources</a>
                                    </h5>
                                    <p class="mb-0">Access valuable resources, tutorials, and guides that empower you
                                        with knowledge about trading strategies, market dynamics, and blockchain technology.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> Service section start here <<================= -->


    <section class="about padding-top--style2 padding-bottom bg-color-3">
        <div class="container">
            <div class="about__wrapper">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="section-header mb-50">
                            <h2>Experienced trading <span class="style2">platform</span>
                                to grow
                            </h2>
                        </div>
                        <div class="about__content about__content--style2" data-aos="fade-right" data-aos-duration="800">
                            <div class="about__content-inner">
                                <div class="about__icon">
                                    <div class="about__icon-inner">
                                        <img src="frontend_assets/images/about/icon/1.png"
                                            alt="about-icon" class="dark">
                                    </div>
                                </div>
                                <div class="about__content-details">
                                    <h5>Real-Time Market Insights</h5>
                                    <p class="mb-0">BitTrading provides users with up-to-date market insights, trends,
                                        and analysis, helping them make informed investment decisions based on current
                                        market conditions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about__content about__content--style2" data-aos="fade-right" data-aos-duration="900">
                            <div class="about__content-inner">
                                <div class="about__icon">
                                    <div class="about__icon-inner">
                                        <img src="frontend_assets/images/about/icon/2.png"
                                            alt="about-icon" class="dark">
                                    </div>
                                </div>
                                <div class="about__content-details">
                                    <h5>Automatic Portfolio Rebalancing</h5>
                                    <p class="mb-0">BitTrading offers an automated portfolio rebalancing feature,
                                        ensuring that your investments stay aligned with your chosen risk profile and
                                        investment goals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about__content about__content--style2" data-aos="fade-right"
                            data-aos-duration="1000">
                            <div class="about__content-inner">
                                <div class="about__icon">
                                    <div class="about__icon-inner">
                                        <img src="frontend_assets/images/about/icon/3.png"
                                            alt="about-icon" class="dark">
                                    </div>
                                </div>
                                <div class="about__content-details">
                                    <h5>Transparent Fee Structure</h5>
                                    <p class="mb-0">BitTrading offers sophisticated analytics tools that allow investors
                                        to analyze market trends, historical data, and performance metrics, empowering them
                                        to make well-informed investment decisions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__thumb about__thumb--style2" data-aos="fade-left" data-aos-duration="800">
                            <div class="about__thumb-inner mt-30 mt-lg-0">
                                <div class="about__thumb-image  text-center">
                                    <img src="frontend_assets/images/about/3.png" alt="about-image"
                                        class="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about__shape about__shape--style2">
            <span class="about__shape-item about__shape-item--1"><img
                    src="frontend_assets/images/others/2.png" alt="shape-icon"></span>
        </div>
    </section>

    <section class="feature feature--style2 padding-bottom padding-top feature-bg-color bg--cover"
        style="background-image:url(frontend_assets/images/feature/home3/bg.png)">
        <div class="section-header section-header--style3 section-header--max57">
            <h2 class="mb-15 mt-minus-5">Features We have</h2>
            <p>Hey there! Here are the features we have: user-friendly interface, top-notch security, and fast performance.
            </p>
        </div>
        <div class="container">
            <div class="feature__wrapper">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="feature__item-inner text-center">
                                <div class="feature__item-thumb">
                                    <img class="dark"
                                        src="frontend_assets/images/feature/home3/1-dark.png"
                                        alt="feature-item-icon">
                                </div>
                                <div class="feature__item-content">
                                    <h5> Real-time data </h5>
                                    <p>Real-time data is like having a magic crystal ball that tells you what's happening
                                        now.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="feature__item-inner text-center">
                                <div class="feature__item-thumb">
                                    <img class="dark"
                                        src="frontend_assets/images/feature/home3/2-dark.png"
                                        alt="feature-item-icon">
                                </div>
                                <div class="feature__item-content">
                                    <h5> Customer support</h5>
                                    <p>Hey there! How can I help? Just shoot me a message and I'll get back to you ASAP!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="feature__item-inner text-center">
                                <div class="feature__item-thumb">
                                    <img class="dark"
                                        src="frontend_assets/images/feature/home3/3-dark.png"
                                        alt="feature-item-icon">
                                </div>
                                <div class="feature__item-content">
                                    <h5> Higher security </h5>
                                    <p>Looks like we've got higher security now, better make sure we have our IDs with us.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature__item" data-aos="fade-up" data-aos-duration="800">
                            <div class="feature__item-inner text-center">
                                <div class="feature__item-thumb">
                                    <img class="dark"
                                        src="frontend_assets/images/feature/home3/1-dark.png"
                                        alt="feature-item-icon">
                                </div>
                                <div class="feature__item-content">
                                    <h5>Lower commissions</h5>
                                    <p>I heard we're lowering commissions. That sucks, but at least it's not my fault sure.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature__shape">
            <span class="feature__shape-item feature__shape-item--1"><img
                    src="frontend_assets/images/feature/home3/5.png" alt="shape-icon"></span>
        </div>
    </section>


    <!-- ========== Roadmap Section start Here========== -->
    <section class="roadmap roadmap--style1 padding-top  padding-bottom bg-color" id="roadmap">
        <div class="container">
            <div class="section-header section-header--max50">
                <h2 class="mb-15 mt-minus-5">Product <span> roadmap</span></h2>
                <p>A product roadmap shows the path ahead, helps teams plan, and guides the delivery of the product.</p>
            </div>
            <div class="roadmap__wrapper">
                <div class="row gy-4 gy-md-0 gx-5">
                    <div class="col-md-6 offset-md-6">
                        <div class="roadmap__item ms-md-4 aos-init aos-animate" data-aos="fade-left"
                            data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Expansion</h3>
                                        <span>P1</span>
                                    </div>
                                    <p>Explore new markets and regions to broaden the platform's reach and user base,
                                        enhancing global investment opportunities.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="roadmap__item roadmap__item--style2 ms-auto me-md-4 aos-init aos-animate"
                            data-aos="fade-right" data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Enhancements</h3>
                                        <span>P2</span>
                                    </div>
                                    <p>Continuously improve user experience by implementing interface refinements and
                                        technological updates, ensuring seamless navigation.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <div class="roadmap__item ms-md-4 aos-init" data-aos="fade-left" data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Integration</h3>
                                        <span>P3</span>
                                    </div>
                                    <p>Collaborate with leading financial partners to integrate additional payment methods
                                        and increase convenience for investors.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="roadmap__item roadmap__item--style2 ms-auto me-md-4 aos-init" data-aos="fade-right"
                            data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Research</h3>
                                        <span>P4</span>
                                    </div>
                                    <p>Conduct thorough market research to identify emerging investment trends and potential
                                        opportunities for diversification.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <div class="roadmap__item ms-md-4 aos-init" data-aos="fade-left" data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Security</h3>
                                        <span>P5</span>
                                    </div>
                                    <p>Strengthen cybersecurity measures to fortify the platform against evolving threats,
                                        maintaining user trust and data integrity.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="roadmap__item roadmap__item--style2 ms-auto me-md-4 aos-init" data-aos="fade-right"
                            data-aos-duration="800">
                            <div class="roadmap__item-inner">
                                <div class="roadmap__item-content">
                                    <div class="roadmap__item-header">
                                        <h3>Education</h3>
                                        <span>P6</span>
                                    </div>
                                    <p>Develop comprehensive educational resources to empower users with insights into
                                        trading strategies, asset management, and blockchain technology.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="roadmap__shape">
            <span class="roadmap__shape-item roadmap__shape-item--1"> <span></span> </span>
            <span class="roadmap__shape-item roadmap__shape-item--2"> <img
                    src="frontend_assets/images/icon/1.png" alt="shape-icon">
            </span>
        </div>
    </section>
    <!-- ========== Roadmap Section Ends Here========== -->


    <section class="about about--style3 padding-top padding-bottom ">
        <div class="container">
            <div class="about__wrapper">
                <div class="row g-5 mt-100">
                    <div class="col-md-6">
                        <div class="about__content" data-aos="fade-right" data-aos-duration="800">
                            <h2>our Commitment to help growing your business</h2>
                            <ul>
                                <li><span><img src="frontend_assets/images/about/home3/check.png"
                                            alt="check"></span> Building a Better Trading
                                    Future</li>
                                <li><span><img src="frontend_assets/images/about/home3/check.png"
                                            alt="check"></span> Provide a Trading
                                    Experience</li>
                                <li><span><img src="frontend_assets/images/about/home3/check.png"
                                            alt="check"></span> The Experts Behind Your
                                    Success</li>
                                <li><span><img src="frontend_assets/images/about/home3/check.png"
                                            alt="check"></span> Empowering Traders
                                    Worldwide</li>
                            </ul>
                            <a href="/team" class="trk-btn trk-btn--border trk-btn--primary">Meet our experts</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about__thumb" data-aos="fade-left" data-aos-duration="800">
                            <div class="about__thumb-inner">
                                <div class="about__thumb-image text-center floating-content">
                                    <img class="dark" src="frontend_assets/images/about/home3/2.png"
                                        alt="about-image">
                                    <div class="floating-content__top-left floating-content__top-left--style2">
                                        <div class="floating-content__item floating-content__item--style5">
                                            <h3> <span class="purecounter" data-purecounter-start="0"
                                                    data-purecounter-end="90"></span>%
                                            </h3>
                                            <p>Satisfied clients</p>

                                            <div class="progress">
                                                <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ===============>> Testimonial section start here <<================= -->
    <section class="testimonial padding-top padding-bottom-style2 bg-color" id="reviews">
        <div class="container">
            <div class="section-header d-md-flex align-items-center justify-content-between">
                <div class="section-header__content">
                    <h2 class="mb-15">connect with <span>our Clients </span></h2>
                    <p class="mb-0">We love connecting with our clients to hear about their experiences and how we
                        can improve.
                    </p>
                </div>
                <div class="section-header__action">
                    <div class="swiper-nav">
                        <button class="swiper-nav__btn testimonial__slider-prev"><i
                                class="fa-solid fa-angle-left"></i></button>
                        <button class="swiper-nav__btn testimonial__slider-next active"><i
                                class="fa-solid fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="testimonial__wrapper" data-aos="fade-up" data-aos-duration="1000">
                <div class="testimonial__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial__item testimonial__item--style1">
                                <div class="testimonial__item-inner">
                                    <div class="testimonial__item-content">
                                        <p class="mb-0">
                                            I'm absolutely thrilled with BitTrading's outstanding
                                            returns! The platform's
                                            diverse investment options and intuitive interface have made trading a breeze.
                                            I'm excited for the promising journey ahead!
                                        </p>
                                        <div class="testimonial__footer">
                                            <div class="testimonial__author">
                                                <div class="testimonial__author-thumb">
                                                    <img src="frontend_assets/images/testimonial/1.png"
                                                        alt="author">
                                                </div>
                                                <div class="testimonial__author-designation">
                                                    <h6>Alex Thompson</h6>
                                                    <span>Forex Trader</span>
                                                </div>
                                            </div>
                                            <div class="testimonial__quote">
                                                <span><i class="fa-solid fa-quote-right"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial__item testimonial__item--style1">
                                <div class="testimonial__item-inner">
                                    <div class="testimonial__item-content">
                                        <p class="mb-0">
                                            BitTrading has been a game-changer for me! The platform's
                                            diverse range of asset
                                            choices allowed me to effortlessly diversify my portfolio. The strong security
                                            measures and responsive customer support are truly invaluable.
                                        </p>
                                        <div class="testimonial__footer">
                                            <div class="testimonial__author">
                                                <div class="testimonial__author-thumb">
                                                    <img src="frontend_assets/images/testimonial/2.png"
                                                        alt="author">
                                                </div>
                                                <div class="testimonial__author-designation">
                                                    <h6>John Rodriguez</h6>
                                                    <span>Trading Guru</span>
                                                </div>
                                            </div>
                                            <div class="testimonial__quote">
                                                <span><i class="fa-solid fa-quote-right"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial__item testimonial__item--style1">
                                <div class="testimonial__item-inner">
                                    <div class="testimonial__item-content">
                                        <p class="mb-0">
                                            I'm truly impressed by BitTrading's
                                            insightful guidance.
                                            The customer service, coupled with comprehensive market
                                            analysis, empowers my investment decisions. The platform's robust security
                                            measures provide added peace of mind.
                                        </p>
                                        <div class="testimonial__footer">
                                            <div class="testimonial__author">
                                                <div class="testimonial__author-thumb">
                                                    <img src="frontend_assets/images/testimonial/6.png"
                                                        alt="author">
                                                </div>
                                                <div class="testimonial__author-designation">
                                                    <h6>Michael Martinez</h6>
                                                    <span>Youtuber</span>
                                                </div>
                                            </div>
                                            <div class="testimonial__quote">
                                                <span><i class="fa-solid fa-quote-right"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> Testimonial section start here <<================= -->




    <!-- ===============>> FAQ section start here <<================= -->
    <section class="faq padding-top padding-bottom of-hidden" id="faqs">
        <div class="section-header section-header--max65">
            <h2 class="mb-15 mt-minus-5"><span>Frequently</span> Asked questions</h2>
            <p>Hey there! Got questions? We've got answers. Check out our FAQ page for all the deets. Still not
                satisfied? Hit
                us up.</p>
        </div>
        <div class="container">
            <div class="faq__wrapper">
                <div class="row g-5 align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div class="accordion accordion--style1" id="faqAccordion1" data-aos="fade-right"
                            data-aos-duration="1000">
                            <div class="row">
                                <div class="col-12">
                                    <div class="accordion__item ">
                                        <div class="accordion__header" id="faq1">
                                            <button class="accordion__button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faqBody1" aria-expanded="false"
                                                aria-controls="faqBody1">
                                                <span class="accordion__button-content">What is BitTrading?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody1" class="accordion-collapse collapse show"
                                            aria-labelledby="faq1" data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">
                                                    BitTrading is an advanced investment platform that offers opportunities
                                                    for users to trade cryptocurrencies and traditional assets, aiming to
                                                    maximize returns.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item ">
                                        <div class="accordion__header" id="faq2">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody2" aria-expanded="true"
                                                aria-controls="faqBody2">
                                                <span class="accordion__button-content">Is BitTrading suitable for
                                                    beginners?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody2" class="accordion-collapse collapse" aria-labelledby="faq2"
                                            data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">
                                                    Absolutely! BitTrading is designed to cater to both novice and
                                                    experienced investors. Our user-friendly interface and educational
                                                    resources make it accessible for beginners.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item ">
                                        <div class="accordion__header" id="faq3">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody3"
                                                aria-expanded="false" aria-controls="faqBody3">
                                                <span class="accordion__button-content">What kind of assets can I trade on
                                                    BitTrading?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody3" class="accordion-collapse collapse" aria-labelledby="faq3"
                                            data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">BitTrading provides a wide range of assets for trading,
                                                    including cryptocurrencies like Bitcoin and Ethereum, as well as
                                                    traditional assets like stocks and commodities.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item ">
                                        <div class="accordion__header" id="faq4">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody4"
                                                aria-expanded="false" aria-controls="faqBody4">
                                                <span class="accordion__button-content">How secure is BitTrading?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody4" class="accordion-collapse collapse" aria-labelledby="faq4"
                                            data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">Security is a top priority at BitTrading. We employ
                                                    robust encryption, two-factor authentication, and follow industry best
                                                    practices to safeguard your investments and personal information.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item ">
                                        <div class="accordion__header" id="faq5">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody5"
                                                aria-expanded="false" aria-controls="faqBody5">
                                                <span class="accordion__button-content">What is the minimum investment
                                                    required?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody5" class="accordion-collapse collapse" aria-labelledby="faq5"
                                            data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">The minimum investment on BitTrading varies depending on
                                                    the type of asset and trading option you choose. We offer options
                                                    suitable for various budgets.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item border-0">
                                        <div class="accordion__header" id="faq6">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody6"
                                                aria-expanded="false" aria-controls="faqBody6">
                                                <span class="accordion__button-content">Can I access BitTrading on my
                                                    mobile device?</span>
                                                <span class="accordion__button-plusicon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody6" class="accordion-collapse collapse" aria-labelledby="faq6"
                                            data-bs-parent="#faqAccordion1">
                                            <div class="accordion__body">
                                                <p class="mb-15">Absolutely! BitTrading offers a mobile app that lets you
                                                    manage your investments, execute trades, and stay updated on market
                                                    trends conveniently from your smartphone.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq__thumb faq__thumb--style1" data-aos="fade-left" data-aos-duration="1000">
                            <img class="dark" src="frontend_assets/images/others/1.png"
                                alt="faq-thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__shape faq__shape--style1">
            <span class="faq__shape-item faq__shape-item--1"><img
                    src="frontend_assets/images/others/2.png" alt="shpae-icon"></span>
        </div>
    </section>
    <!-- ===============>> FAQ section start here <<================= -->





    <!-- ===============>> cta section start here <<================= -->
    <section class="cta padding-top padding-bottom  bg-color">
        <div class="container">
            <div class="cta__wrapper">
                <div class="cta__newsletter justify-content-center">
                    <div class="cta__newsletter-inner" data-aos="fade-up" data-aos-duration="1000">
                        <div class="cta__thumb">
                            <img src="frontend_assets/images/cta/3.png" alt="cta-thumb">
                        </div>
                        <div class="cta__subscribe">
                            <h2> <span>Join</span> BitTrading Now!</h2>
                            <p>
                                Sign up on BitTrading today and start investing and getting higher
                                returns on your investments! <br>
                            </p>
                            <form class="cta-form cta-form--style2 form-subscribe" action="#">
                                <div class="cta-form__inner d-sm-flex align-items-center">
                                    <input type="number" class="form-control form-control--style2 mb-3 mb-sm-0"
                                        placeholder="Enter Mobile Number">
                                    <a href="/register"
                                        class="trk-btn  trk-btn--large trk-btn--secondary2" type="submit">Register</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="cta__shape">
                    <span class="cta__shape-item cta__shape-item--1"><img
                            src="frontend_assets/images/cta/2.png" alt="shape icon"></span>
                    <span class="cta__shape-item cta__shape-item--2"><img
                            src="frontend_assets/images/cta/4.png" alt="shape icon"></span>
                    <span class="cta__shape-item cta__shape-item--3"><img
                            src="frontend_assets/images/cta/5.png" alt="shape icon"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> cta section start here <<================= -->


    <%- include('partials/_footer'); -%>
